@font-face {
    font-family: Rajdhani;
    src: url("./font/Rajdhani-Medium.ttf");
}

@font-face {
    font-family: Grotesk;
    src: url("./font/SpaceGrotesk-Regular.ttf");
}

h1 {
    font-family: Rajdhani;
    font-size: clamp(16px,2vw,36px);
}
button {
    font-family: Rajdhani;
    font-size: clamp(10px, 2vw,20px);
}
h2 {
    font-family: Grotesk;
    font-weight: bold;
    font-size: clamp(8px, 1.5vw,12px);
}
.subtitle {
    font-family: Grotesk;
    font-size: clamp(10px, 1.8vw,22px);
}
.text-gm,
.text-pm {
    font-family: Grotesk;
    font-size: clamp(10px, 2vw,18px);
}
.text-pm {
    font-size:  clamp(8px, 1.5vw,12px) !important;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    background-color: black;
    position: relative;
}
.main-body {
    display: flex;
    flex-direction: column;
}
/* I - HEADER*/
.head-container {
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, black),
    url('./images/Bathome1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: min(60vw,820px);
    min-height: 300px;
    position: relative;
    padding-top: min(3vw,50px);
}
/* I - 1. Navbar */
.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: min(5vw,60px);
    /*border-bottom: 1px solid #c4c4c4;*/
    margin-bottom: min(5vw,150px);
}
.navbar-left{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.logohome{
    width: min(10vw,150px);
    min-width: 70px;
}
.navbar-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.navbar__active,
.navbar-button__element:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* I - 2. The side icon (fb, insta, twitter) */
.side-left {
    position: absolute;
    writing-mode: vertical-lr;
    right: 0;
    top: 0;
    margin: min(25vw,150px) 2% 0 0;
}
.side__image {
    margin-top: min(2vw,20px);
    cursor: pointer;
    width: min(2vw,30px);
    min-width: 15px;
}
.side-arrow{
    width: min(7vw,100px);
    min-width: 40px;
}

/* I - 3. Content header (The introduction) */ 
.head-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: min(60vw,500px);
    margin: 0 auto;
}
.content-button__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-button__left,
.content-button__right {
    outline: none;
    border: 0;
    justify-content: center;
    background: linear-gradient(to right,#eddebf6f 10%, #890009e2);
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
}
.content-button__left:hover,
.content-button__right:hover,
.contact-button__submit:hover {
    background: linear-gradient(to right,#eddebfea 10%, #890009) ;
}

@media (max-width: 480px) {
    .content-button__container{
        flex-direction: column;
    }
    .content-button__left,
    .content-button__right {
        margin-top: 5px;
    }
}

.header-button__down {
    text-align: center;
}
.button-down__element{
    width: min(8vw,100px);
    min-width: 40px;
}

/* II - Cinema & Nemesis & friend*/
.body-cinema__container,
.body-nemesis__container,
.body-friend__container,
.body-justice-league__container{
    margin-top: 8%;
    width: 100%;
}
.cinema__presentation,
.nemesis__presentation,
.friend__presentation,
.justice-league__presentation,
.multimedia__presentation {
    padding: 0 11% 0 11%;
    width: 72%;
    position: relative;
}
.cinema__actor-container,
.nemesis__actor-container,
.friend__actor-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 11% 0 11%;
}
.illustration__image{
    width: min(25vw,310px);
    min-width: 90px;
}
@media (max-width: 461px){
    .cinema__actor-container,
    .nemesis__actor-container,
    .friend__actor-container{
        flex-wrap: wrap;
    }
}
.actor__information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nemesis-title__container {
    position: relative;
}
.nemesis-title__image {
    width: 10%;
    margin: 0 0 0 -4%;
}

/* BREAK */
.batman-image__break {
    position: relative;
    width: 100%;
    height: 2%;
}
.image__break__element {
    position: absolute;
    right: 0;
    top: -500%;
    width: 24%;
}
.justice-league__image {
    width: 100%;
}

/* MULTIMEDIA */
.body-multimedia__container {
    margin-top: 0;
}
.multimedia-item__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 min(5vw, 40px) 0 min(5vw, 40px);
}

.multimedia-item__card {
    display: flex;
    position: relative;
    margin: 5px;
    width: min(100vw,960px);
    background: linear-gradient( to top left, #051c2ade,#eddebf88 200%);
    border-radius: 20px;
}
.multimedia-card__description {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.movie__note {
    margin-bottom: 7px;
}
.movie__note span {
    color: #FFFF00;
    padding-bottom: 7px;
}
.multimedia-card__image {
    width: min(180%,1500px);
    min-width: 100px;
}
@media (max-width: 471px) {
    .multimedia-card__image {
        display: none;
    }
}
.multimedia__trailer {
    padding: 5% 11% 0 11%;
    width: 78%;
}
/* Contact */
.body-contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient( to top left, #051c2ade,#eddebf88 200%);
}
.contact-form__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#input-email,
#input-channel,
#input-newsletter,
#input-commentary {
    outline: none;
    border: 0;
    border-bottom: 3px solid #FFFFFF;
    color: #FFFFFF;
    background: none;
}
.label-email,
.label-newsletter,
.label-commentary {
    margin-top: 3%;
}
#input-email,
#input-channel,
#input-newsletter,
#input-commentary {
    margin-bottom: 1%;
    margin-top: 2%;
}
.recommended-button {
    display: flex;
    justify-content: space-around;
}
.recommended-button__item,
.contact-button__submit {
    outline: none;
    border-image: linear-gradient(to left, #19587D, #f8f184) 1;
    cursor: pointer;
    background: none;
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
}
.contact-button__submit {
    margin: 8% 0 10% 0;
    width: 50%;
    align-self: center;
    border: 0;
    background: linear-gradient(to right,#eddebf3f 10%, #890009cd 90%, #890009e2);
}
/* Replic */
.body-replic__container {
    margin: 8% 0 8% 0;
    width: 100%;
}
.replic__element {
    padding: 0 11% 0 11%;
    flex-direction: column;
    display: flex;
    position: relative;
}
.replic-quot__close {
    width: 10%;
    align-self: flex-end;
}
.replic-quot__open {
    width: 10%;
}
.replic__text {
    align-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* footer */
footer {
    padding: 0 11% 0 11%;
}
.footer-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__image {
    margin: 5% 0 10% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.image-scale__hover:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.image-scale__hover {
    transition: all 0.5s ease-in-out;
    width: min(30vw,500px);
    min-width: 100px;
}
